
.dropImgBox {
  background-color: #262626;
  width: 100%;
  height: 100%;
}

.dragBox{
  width: calc(100% - 260px);
  padding: 200px;
  transition: width 0.5s ease;
}

.ant-upload.ant-upload-drag {
  height: 100%;
}

.ant-upload-drag-container {
  height: 100%;
}

.upload-box{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-box img{
  width: 13vw;
}